#header {
    height: 500px;
    background-color: #cf0;
}
#main {
    height: 500px;
    background-color: #fcc;
}
#sub{
    height: 500px;
    background-color: #0ff;
}
#footer {
    height: 500px;
    background-color: #f00;
}
